:root {
    --primary: #f9fce9;
    --bg: #728663;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--primary);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 3%;
    background-color: var(--bg);
    color: var(--primary);
    position: fixed;
    top: 0;
    z-index: 1030;
}
 
.navbar .logo {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    width: 40px;
    border-radius: 50%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navigasi {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigasi a {
    color: var(--primary);
    display: inline-block;
    font-size: 16px;
    margin: 0 16px;
}

.navigasi ul li a:hover {
    color: var(--primary);
}

.navigasi a::after {
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navigasi a:hover::after {
    transform: scaleX(1);
}

.navbar-extra a {
    color: white;
    margin: 0 0.5rem;
}

.navbar-extra a:hover {
    color: var(--primary);
}

h1{
    margin-bottom: 20px;
}

.content {
    padding: 80px 0;
}

.product-detail {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.product-image img {
    width: 250px;
    border-radius: 5px;
    height: 215px;
}

.product-info h1 {
    font-size: 20px;
    border-bottom: 1px solid var(--bg);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.product-info p {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}

select {
    width: 300px;
    padding: 10px;
    border: 1px solid #000;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
}

.button {
    background-color: var(--bg);
    color: var(--primary);
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 2px;
}

.description {
    font-weight: 400;
}

.footer{
    background: var(--primary);
    border-top: 2px solid var(--bg);
    width:100%;
}

.footer-content{
    max-width: 1200px;
    margin: auto;
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-box h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-box p{
    margin: 5px 0;
    font-size: 16px;
}

.copyright {
    background-color: var(--bg);
    text-align: center;
    color: var(--primary);
    padding: 20px;
    font-size: 12px;
    width: 100%;
    font-size: 14px;
}